<!-- About the project assignment -->
{% extends 'sjsu_library/base.html' %}
{% block content %}
<div class="container library-about">
    <h1>About SJSUL</h1>
    <hr>
    <h2>Project Overview</h2>
    <p>
        Your project is to design an access control schema for a fictitious library (SJSU_Library (SJSUL)) and to
        implement a simple web-based system to perform primary user enrollment, authentication, and authorization
        functions for SJSUL.
    </p>
    <p>
        You may use Python, Java, C, or GoLang. If you want to use another programming language, the professor must give
        you prior approval. Python has valuable libraries and tools. You may use any framework such as <a
            href="https://www.djangoproject.com/" target="_blank">Django</a> or <a href="https://pypi.org/project/Flask"
            target="_blank">Flask</a>. You must provide citations and references for the framework
        used.
    </p>
    <p>
        You may use <a href="https://chat.openai.com/" target="_blank">ChatGPT</a> or other AI tools, but you must
        provide citations and references for the tools and prompts you used. If you use an AI tool, you must enumerate
        how you used the tool. Many Large Learning Models and AI tools are reportedly prone to errors.
    </p>
    <p>
        You may store the data using any database technology or store it in "flat files" using formats such as JSON or
        XML. You must submit a copy of your source code; please ensure you comment your code well and use sound software
        design principles.
    </p>
    <hr>
    <h2>Purpose of Course Project</h2>
    <ul>
        <li>Develop an understanding of the various access control methodologies and apply those methodologies to a
            design.</li>
        <li>Build an understanding of the various use cases in an organization and identify how the different access
            control methods impact and influence the use cases.</li>
        <li>Understand the hashing techniques available and how they may be used.</li>
        <li>Implement hashing functions and access control mechanisms for users.</li>
    </ul>
    <hr>
    <h2>References</h2>
    <ul>
        <li>
            Python web development framework using <a href="https://www.djangoproject.com/" target="_blank">Django</a>
        </li>
        <li>
            Django tutorial by <a href="https://www.youtube.com/playlist?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p"
                target="_blank">Corey Schafer</a>
        </li>
        <li>
            Custom Django forms with <a href="https://github.com/django-crispy-forms/crispy-bootstrap5"
                target="_blank">Crispy Forms</a>
        </li>
        <li>
            CSS framework using <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/"
                target="_blank">Bootstrap5</a>
        </li>
        <li>
            Logo icon from <a href="https://www.flaticon.com/uicons" target="_blank">Flaticon</a>
        </li>
        <li>
            Homepage image from <a href="https://www.https://www.flaticon.com/authors/vectorsmarket15"
                title="library icons" target="_blank">Flaticon - vectorsmarket15</a>
        </li>
        <li>
            Color theme (#6374ae) from <a href="https://uicolors.app/create" target="_blank">UI Colors</a>
        </li>
        <li>
            Creating a <a href="https://dev.to/earthcomfy/getting-started-custom-user-model-5hc" target="_blank">Custom
                User Model</a>
        </li>
        <li>
            Book data from <a href="https://openlibrary.org/" target="_blank">OpenLibrary</a>
        </li>
    </ul>
</div>
{% endblock content %}