<!-- Account page for student users -->
<!-- Students can return and renew books -->
{% extends 'sjsu_library/base.html' %}
{% block content %}
<div class="container">
    <h1>{{ user.first_name }}'s Account</h1>
    {% if borrowed_books %}
    <div class="table-container">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Year</th>
                    <th scope="col">Link</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in borrowed_books %}
                <tr>
                    <td>{{ book.book.title }}</td>
                    <td>{{ book.book.author }}</td>
                    <td>{{ book.book.year }}</td>
                    <td><a href="{{ book.link }}" target="_blank">View Book</a></td>
                    <td>{{ book.return_date }}</td>
                    <td class="action-btn">
                        <form action="{% url 'return-book' book.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-success" type="submit">Return</button>
                        </form>
                        <form action="{% url 'renew-book' book.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-theme" type="submit">Renew</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>You are currently not borrowing any books.</p>
        {% endif %}
    </div>
</div>
{% endblock %}